<link rel="stylesheet" href="/css/styles.css">

<h1>KIEI 925</h1>
<h1>Fall 2013</h1>

<ul>
<% @student_data.each do |pic| %>
  <li>
    <p>First name: <%= pic["first_name"] %></p>
    <p>Last name: <%= pic["last_name"] %></p>
    <img width = "200" src = <%= pic["image_url"] %>
  </li>
<% end %>
